.nav {
    background-color: $color-primary;
    border-bottom: 1px solid $color-secondary;
    padding: .8rem 0;

    &__container {
        margin: auto;
        max-width: 96rem;

        @include respond(tab-port) {
            margin: 0 3.2rem;
            max-width: none;
        }
    }

    &__list {
        align-items: center;        
        display: flex;        
        list-style: none;

        @include respond(mobile) {
            flex-direction: column;
        }
    }

    &__item {
        min-width: 12.5rem;
        text-align: center;
    }

    &__link {
        color: $color-white;          
        text-decoration: none;        

        &--active {
            font-weight: 600;
        }
    }
}