.card {
    box-shadow: $box-shadow;
    height: 100%;

    &__section {
        margin-bottom: .8rem;
        padding: 1.8rem;

        &--header {
            background-color: $color-light-grey;
            background-image: linear-gradient(to bottom right, $color-off-white, $color-light-grey);
        }
    }

    &__body {
        padding: 1.8rem;
    }

    &__heading {
        font-weight: 300;
        font-size: 2.4rem;
    }

    &__text {
        font-size: 2rem;
    }
}