.podcast-header {
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    $color-white,
    $color-off-white
  );
  box-shadow: $box-shadow;
  display: flex;
  &__title {
    font-size: 4rem;
    margin: auto;
  }
  &__image {
    max-width: 30rem;
  }
}
