.search {
    &__form {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        width: 100%;

        @include respond(mobile) {
            margin: 1rem 0; // same margin as other nav items
        }
    }

    &__input {
        background-color: $color-off-white;
        border: none;
        font-family: inherit;
        padding: .8rem 1.2rem;
        padding-right: 8.7rem; // account for the 7.5rem button and 1.2rem margin
        transition: width .25s;
        width: 80%;

        &:focus {
            background-color: darken($color-off-white, 5%);
            outline: none;
            width: 98%;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-family: inherit;
        margin-left: -7.6rem;        
        padding: .8rem 1.2rem;
        transition: color .2s;

        &:hover {
            color: $color-secondary;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        align-items: flex-start;
        background-image: linear-gradient(to bottom right, $color-white, $color-off-white);
        box-shadow: $box-shadow;
        display: flex;
        margin: 2rem 0;
    }

    &__details {
        display: block;
        margin: 0 1rem;
        padding: 1.2rem;
    }

    &__image {
        max-width: 15rem;
    }
}