.search {
    &__input {
        background-color: $color-white;
        border: none;
        font-family: inherit;
        padding: .8rem 1.2rem;
    }

    &__button {
        background-color: $color-white;
        border: none;
        cursor: pointer;
        font-family: inherit;        
        padding: .8rem 1.2rem;
        transition: background-color .2s;

        &:hover {
            background-color: $color-secondary;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        align-items: flex-start;
        background-image: linear-gradient(to bottom right, $color-white, $color-off-white);
        box-shadow: $box-shadow;
        display: flex;
        margin: 2rem 0;
    }

    &__details {
        display: block;
        margin: 0 1rem;
        padding: 1.2rem;
    }

    &__image {
        max-width: 15rem;
    }
}