body {
    font-family: 'Assistant', sans-serif;
    font-size: 1.8rem;
    line-height: 1.7;
}

.heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    &--main {
        font-size: 6.2rem;        
    }

    &--sub-main {
        font-size: 4.2rem;
    }

    &--primary {
        font-size: 4rem;
    }

    &--secondary {
        font-size: 3.2rem;
        font-weight: 300;
    }
}