body {
  font-family: "Assistant", sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
}

.heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;

  &--main {
    font-size: 6.2rem;
    margin: 0;
  }

  &--sub {
    font-size: 3.2rem;
    font-weight: 300;
  }

  &--primary {
    font-size: 4rem;
  }

  &--secondary {
    font-size: 3.2rem;
    font-weight: 300;
    margin: 3.6rem 0;
  }

  &--background-image {
    @supports (-webkit-background-clip: text) {
      background-image: $primary-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.large-text {
  font-size: 2.2rem;
}
