.u-padding-bottom-large {
    padding-bottom: 8rem;
}

.u-margin-top-large {
    margin-top: 8rem !important;
}

.u-margin-top-medium {
    margin-top: 6rem !important;
}

.u-margin-top-small {
    margin-top: 4rem !important;
}

.u-center-text { text-align: center !important; }

.u-absolute-center {
    position: absolute;
    // centre
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.u-spinner {
    animation: spin 1s linear infinite;
    border: .7rem solid #9cff9c;
    border-top-color: $color-primary;
    border-radius: 50%;
    height: 54px;
    width: 54px;
}